.inicio {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #004471 , #90b9c2 );
}

.logoads {
    height: 80px;
}

.navbar-brand {
    margin-left: 50px;
    font-size: 20px;
}

.titulo {
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.tarjetas {
    display: flex;
    justify-content: space-around;
}

/* .imagenes {
    display: flex;
    justify-content: space-around;
}

.imagenesColaboradores {
    height: 200px;
} */

.contenido {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 150px;
}

.card-img-top {
    height: 200px;
}

.card {
    background: linear-gradient(45deg, #004471 , #90b9c2 );
    cursor: pointer;
    color: white;
}


.adsinfo {
    height: 500px;
}