.inicio {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #0089a9, #004471 );
}

.logoads {
    height: 80px;
}

.navbar-brand {
    margin-left: 50px;
}

.navbar {
color:  white;
}

.main {
    display: flex;
}

.mr-3 {
    border: solid 1px red;
}